.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  background-color: #000000; 
  padding-left: 3rem;
  background-image: url('/myProfile.jpg');
}

.profile {
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(0, 0, 0); 
  font-weight: bold
}

.tagline {
  font-size: 1.2rem;
  color: #d1d5db; 
  margin-top: 0.5rem;
}
